<header>

    <nav>

        <ul>
             <li><a href="/">Accueil</a></li>
             <li><a href="/admin/article">Articles</a></li>
             <li><a href="/admin/category">Categories</a></li>
         </ul>
    </nav>
 </header>