{% extends 'front/layout.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block content %}

    <form action="">
        <input type="text" id="search-input">
    </form>

    <div class="articles">

        <ul id="results"></ul>

    </div>


{% endblock %}
